  * {
    margin: 0;
    padding: 0;
  }
  
  
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  body {
    background-color: black;
  }

  .basket {
    background: black;
   
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-position: center;
    background-size:contain;
    
    height: 100vh;
  }

  .basket .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
  }
  
  .product-list-section {
    width: 100%;
    margin: 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 20px;
  }

  .product-name {
    grid-area: 1 / 1 / 2 / 2;
  }

  .product-item {
    border-bottom: 2px solid #d40074;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: lighter;
  }

  .product-num {
    grid-area: 1 / 2 / 2 / 3;
  }

