* {
    margin: 0;
    padding: 0;
  }
  
  
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  body {
    background-color: black;
  }

  /*-------------------------->> footer */
  
  footer {
    padding-top: 52px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .fdiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 390px;
    text-align: center;
    margin: 20px 0px 30px 0px;
  }
  
  .fdiv_header {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: bold;
  }
  
  .fdiv_divider {
    border-top: 1px solid white;
    margin: 10px 0px 12px 0px;
    align-self: center;
    height: 20px; 
    width: 200px;
  }
  
  .fdiv_text {
    color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
  
  .fdiv_icons {
    display: flex;
    justify-content: center;
  }
  
  .ficon {
    color: #f3f3f3;
    font-size: 16px;
    margin: 50px 5px 0px 5px;
  }
  